---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
{%- if not p.data.eleventyExcludeFromCollections %}
  <url>
    <loc>{{ metadata.siteUrl }}{{ p.url | replace('/index.html', '/') }}</loc>
    <lastmod>{% if p.date %}{{ p.date | htmlDateString }}{% else %}2026-03-25{% endif %}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
